/*
Theme Name: Border_August
Theme URI: http://wordpress.org/themes/august
Author: Kewtea
Author URI: https://kewtea.com/
Description: This is <strong>August!!</strong>
Version: 0.2
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, responsive-layout, translation-ready
Text Domain: august

August WordPress Theme © 2017 Kewtea
*/

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a,
abbr, acronym, address,
big, cite, code, del, dfn,
em, img,
ins, kbd, q, s, samp, small,
strike, strong,
sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
ol, ul, li,
fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside
canvas, details, embed,
figure, figcaption,
footer, header,
hgroup, menu, nav,
output, ruby,
section, summary,
time, mark,
audio, video {
    font-size: 100%;
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline
}

* {
    line-height: initial;
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

.clear {
    clear: both
}

.sticky {
}

.bypostauthor {
}

.wp-caption {
}

.wp-caption-text {
}

.gallery-caption {
}

.alignright {
}

.alignleft {
}

.aligncenter {
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important
}


/* borderland */
body {
    font-family: 'Raleway', sans-serif;
    color: #797979;
    font-size: 14px;
    font-weight: 400;
}

.text-over-image-wide-no-space article a {
    text-decoration: none;
}
.text-over-image-wide-no-space article {
    display: inline-block;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    padding: 0;
    cursor: pointer
}
.text-over-image-wide-no-space article .item_holder {
    position: relative;
    overflow: hidden;
}

.text-over-image-wide-no-space article .text_holder {
    position: absolute;
    padding: 10%;
    font-size: 14px;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: transparent;
    top: 0;
    text-align: left;
    box-sizing: border-box;
    z-index: 4;
    opacity: 1;
    color: #fff;
    transition: opacity .5s cubic-bezier(.165,.84,.44,1);
    -webkit-transition: opacity .5s cubic-bezier(.165,.84,.44,1);
}
.text-over-image-wide-no-space article:hover .text_holder {
    opacity: 0;
}

.text-over-image-wide-no-space article .text_holder_outer {
    display: table;
    width: 100%;
    height: 100%;
}

.text-over-image-wide-no-space article .text_holder_inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text-over-image-wide-no-space article .text_holder_inner span {
    display: block;
}

.text-over-image-wide-no-space article .text_holder_inner .portfolio_title {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 35px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.text-over-image-wide-no-space article .text_holder_inner .project_category {
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    line-height: 31px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: lowercase;
}

.text-over-image-wide-no-space article .separator {
    width: 75px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-in-out;
    display: inline-block;
    margin: 10px auto;
    height: 2px;
    background-color: #fff;
    border: 0;
}
.text-over-image-wide-no-space article:hover .separator {
    width: 0;
}

.text-over-image-wide-no-space article .portfolio_shader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    z-index: 3;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.text-over-image-wide-no-space article:hover .portfolio_shader {
    opacity: 0;
}

.text-over-image-wide-no-space article .image_holder .image {
    transition: all .2s ease;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    /*display: block;*/
    display: initial;
    -webkit-backface-visibility: hidden;
}
.text-over-image-wide-no-space article:hover .image_holder .image {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.text-over-image-wide-no-space article .image_holder img {
    position: relative;
    display: block;
    width: 100%; height: auto;
    min-width: 100%; min-height: 100%;
}


.our-shop {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.our-shop .our-shop-wrapper {
    padding: 0;
    vertical-align: middle;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;
}

.our-shop .eltd_elements_item.text .eltd_elements_item_content {
    padding: 50px 80px 50px 70px;
}

.our-shop h3.title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 44px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.our-shop .separator,
.contact .separator {
    position: relative;
    display: block;
    border-bottom: 1px solid #b2b2b2;
    width: 38px;
    margin: 10px 0 20px 0;
}

.our-shop .separator.transparent,
.contact .separator.transparent {
    border-color: transparent!important;
    clear: both;
}

.our-shop .tabs-nav {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}

.our-shop  .tabs-nav li {
    margin: 0;
    position: relative;
    display: inline-block;
    float: left;
    padding: 5px 0;
}

@media (max-width: 768px) {
    .our-shop .tabs-nav li {
        display: block;
        float: initial;
    }
}

.our-shop .tabs-nav li a {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 40px;
    text-decoration: none;
    transition: all 0.25s;
}
.our-shop .tabs-nav li a:hover {
    color: #8c8c8c;
}

.our-shop  .tabs-nav li.active a {
    color: #8c8c8c;
}

.our-shop .tabs-container {
    padding: 20px 0 15px 0;
    text-align: left;
}

.our-shop .tabs-content {
    line-height: 1.8em;
    opacity: 0;
    transition: opacity 0.5s;
}

.our-shop .contact-us a {
    font-family: 'Dancing Script', cursive;
    font-size: 21px;
    line-height: 1em;
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 0px;
    padding: 0px;
    margin: 0px;
    text-transform: none;
    text-align: left;
}

@media (min-width: 992px) {
    .our-shop .our-shop-wrapper {
        float: initial;
        display: table-cell;
    }
}

.contact .parallax_content_outer {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.contact h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 44px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact .contact-text {
    line-height: 1.8em;
}

.contact .social-group-title h4 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    line-height: 38px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}

footer#footer .social-button,
.contact .social-button {
    background-color: rgba(255, 255, 255, 0.137255);
    width: 42px;
    height: 42px;
    display: inline-table;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s;
}

footer#footer .social-button:hover,
.contact .social-button:hover {
    background-color: #222222;
}

footer#footer .social-button a,
.contact .social-button a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: inherit!important;
    text-decoration: none!important;
}

footer#footer .social-button i,
.contact .social-button i {
    color: #fff;
    line-height: 42px;
    vertical-align: bottom;
    font-size: 14px;
}


.blog-standard article {
    display: inline-block;
    width: 100%;
    margin: 0 0 70px;
}

.blog-standard .post-image,
.post-detail .post-image{
    margin-bottom: 35px;
}

.blog-standard .post-image a,
.blog-standard img,
.blog-standard iframe,
.post-detail img,
.post-detail iframe {
    position: relative;
    display: block;
    width: 100%;
	height: auto;
}

.blog-standard .post-image img,
.post-detail .post-image img {
    max-width: 100%;
    height: auto;
}

.blog-standard .post-text .post-info,
.post-detail .post-text .post-info {
    display: inline-block;
    width: 100%;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 500;
    vertical-align: top;
    margin: 0 0 13px;
    box-sizing: border-box;
}

.blog-standard .post-text .post-info>div,
.post-detail .post-text .post-info>div {
    font-family: Raleway, sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    padding: 0 5px;
    float: left;
}
.blog-standard .post-text .post-info>div:first-child,
.post-detail .post-text .post-info>div:first-child {
    padding-left: 0;
}

.blog-standard .post-text .post-info>div a,
.post-detail .post-text .post-info>div a {
    color: #8c8c8c;
    text-decoration: none;
    transition: all 0.5s;
}
.blog-standard .post-text .post-info>div a:hover,
.post-detail .post-text .post-info>div a:hover {
    color: #222;
}

.blog-standard .post-text .post-info>div:not(:first-child):before,
.post-detail .post-text .post-info>div:not(:first-child):before {
    content: '|';
    position: relative;
    left: -5px;
}

.blog-standard .post-text h2,
.post-detail .post-text h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;

    text-transform: uppercase;
    padding-bottom: 23px;
}
.blog-standard .post-text h2 a,
.post-detail .post-text h2 {
    color: #222;
    text-decoration: none;
    transition: all 0.5s;
}
.blog-standard .post-text h2 a:hover {
    color: #656565;
}


.blog-standard .post-text .post-excerpt {
    color: #8c8c8c;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.blog-standard .read-more-wrapper {
    margin-top: 30px;
}

.blog-standard .read-more-wrapper .read-more-btn,
.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share .share-holder>a {
    color: #222222;
    font-size: 11px;
    line-height: 40px;
    height: 40px;
    font-weight: 600;
    padding-left: 23px; padding-right: 23px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #ededed;
    text-decoration: none;
    transition: all 0.25s;
}

.blog-standard .read-more-wrapper .read-more-btn:hover,
.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share .share-holder>a:hover {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.blog-standard .read-more-wrapper > a {
    margin-right: 10px;
    float: left;
}


.blog-standard .read-more-wrapper .read-more-btn,
.blog-standard .read-more-wrapper .blog-share-wrapper {
    float: left;
}

.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share {
    display: inline-block;

}

.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share .share-holder {
    position: relative;
    display: inline-block;
    cursor: default;
}

.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share .share-holder>a {
    display: block;
    border-color: #c7c7c7;
}

.blog-standard .social-share-dropdown {
    visibility: hidden;
    z-index: 950;
    float: left;
}

.blog-standard .social-share-dropdown ul {
    list-style: none;
    position: relative;
    display: block;
    z-index: 990;
    padding: 0!important;
    min-width: 50px;
    font-weight: 400;
}

.blog-standard .social-share-dropdown ul li {
    visibility: hidden;
    position: absolute;
    text-align: center;
    min-width: 50px;
    float: left;
    opacity: .2;
    -webkit-transition: opacity .1s ease-out,position .1s ease-out,color .1s ease-out,background-color .1s ease-out;
    -moz-transition: opacity .1s ease-out,position .1s ease-out,color .1s ease-out,background-color .1s ease-out;
    -ms-transition: opacity .1s ease-out,position .1s ease-out,color .1s ease-out,background-color .1s ease-out;
    -o-transition: opacity .1s ease-out,position .1s ease-out,color .1s ease-out,background-color .1s ease-out;
    transition: opacity .1s ease-out,position .1s ease-out,color .1s ease-out,background-color .1s ease-out;
}

.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share:hover .social-share-dropdown ul li {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share:hover .social-share-dropdown ul li:nth-child(2) {
    left: 50px;
    transition-delay: .1s;
}
.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share:hover .social-share-dropdown ul li:nth-child(3) {
    left: 100px;
    transition-delay: .2s;
}
.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share:hover .social-share-dropdown ul li:nth-child(4) {
    left: 150px;
    transition-delay: .3s;
}
.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share:hover .social-share-dropdown ul li:nth-child(5) {
    left: 200px;
    transition-delay: .4s;
}
.blog-standard .read-more-wrapper .blog-share-wrapper .blog-share:hover .social-share-dropdown ul li:nth-child(6) {
    left: 250px;
    transition-delay: .5s;
}

.blog-standard .social-share-dropdown ul li a {
    display: block;
    height: 50px;
    line-height: 50px!important;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #222222;
    text-align: center;
}

.blog-standard .social-share-dropdown ul li a:hover {
    background-color: #303030;
    border-color: #303030;
}


.blog-standard .social-share-dropdown ul li .social_network_icon {
    font-size: 17px;
    position: relative;
    vertical-align: middle;
}

.blog-standard .pagination {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 10px 0 50px;
}

.blog-standard .pagination ul {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-standard .pagination ul li {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 1px 2px 1px;
}

.blog-standard .pagination ul li a,
.blog-standard .pagination ul li span {
    position: relative;
    display: inline-block;
    margin: 0;
    color: #222;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    text-shadow: none;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -ms-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -o-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    box-sizing: content-box;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #c7c7c7;
}

.blog-standard .pagination ul li a:hover,
.blog-standard .pagination ul li.active span {
    background-color: #222222;
    border-color: #222222;
    color: #fff;
}


.post-body {
    word-break: break-all;
}

.post-detail .post-body p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #797979;
    margin-bottom: 25px;
}

.post-detail .post-body blockquote {
    font-family: Raleway,sans-serif;
    position: relative;
    padding-left: 19px;
    border-left: 2px solid #dedede;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0;
    color: #222;
    margin-bottom: 25px;
}

.post-detail .post-body *:last-child {
    margin-bottom:  0;
}

.post-detail .single-tags {
    margin-top: 20px;
}

.post-detail .single-tags .tags-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 36px;
    margin: 0 18px 0 0;
    color: #222;
}

.post-detail .single-tags a {
    padding: 0 15px;
    line-height: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    border-radius: 0;
    -webkit-transition: background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out;
    -moz-transition: background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out;
    -ms-transition: background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out;
    -o-transition: background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out;
    transition: background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
    background-color: transparent;
    border: 1px solid #c7c7c7;
    text-decoration: none;
    margin: 0 7px 5px 0;
}

.post-detail .single-tags a:hover {
    color: #ffffff!important;
    border-color: #222222!important;
    background-color: #222222!important;
}

.post-detail .author-description {
    display: block;
    position: relative;
    border: 1px solid transparent;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 0;
}

.post-detail .author-description .author-text-holder {
    min-height: 102px;
    padding: 0 0 0 130px;
    position: relative;
}

.post-detail .author-description .author-text-holder h6,
.post-detail .comment-holder h6,
.post-detail .comment-respond h6 {
    display: block;
    margin: 0 0 4px 0;
    color: #393939;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.post-detail .author-description .author-description-inner .image {
    display: block;
    float: left;
    height: 102px;
    width: 102px;
}

.post-detail .author-description .author-description-inner .image img {
    border-radius: 99px;
}

.post-detail .comment-holder {
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-detail .comment-holder ul.comment-list {
    list-style: none;
    position: relative;
    z-index: 150;
    padding: 0;
    margin: 30px 0 0;
}

.post-detail .comment-holder ul.comment-list li {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.post-detail .comment-holder ul.comment-list li .image {
    display: block;
    width: 73px;
    height: 73px;
    float: left;
}

.post-detail .comment-holder ul.comment-list li .image img {
    max-width: 100%;
    height: auto;
}

.post-detail .comment-holder ul.comment-list li .text {
    padding: 0 0 0 91px;
    min-height: 73px;
}

.post-detail .comment-holder ul.comment-list li .text .comment-reply-link,
.post-detail .comment-holder ul.comment-list li .text .comment-edit-link {
    color: #c7c7c7;
    font-size: 12px;
    float: right;
    font-weight: 400;
    margin-left: 10px;
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    -moz-transition: background-color .15s ease-out,color .15s ease-out;
    -o-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    text-decoration: none;
}
.post-detail .comment-holder ul.comment-list li .text .comment-reply-link:hover,
.post-detail .comment-holder ul.comment-list li .text .comment-edit-link:hover {
    color: #222;
}

.post-detail .comment-holder ul.comment-list li .text .text-holder {
    display: block;
    margin: 6px 0 0 0;
    color: #a0a3a4;
}
.post-detail .comment-holder ul.comment-list li .text .comment-date {
    line-height: 24px;
    font-size: 11px;
    float: left;
    font-family: inherit;
    margin: 17px 0 0 0;
    color: #4e4e4e;
}

.post-detail .comment-holder ul.comment-list li ul.children {
    margin: 30px 0 0 0;
    padding: 0 0 0 70px;
}
.post-detail .comment-holder ul.comment-list li ul.children li:last-child {
    margin-bottom: 0;
}

.post-detail .comment-form {
    display: inline-block;
    margin: 0 0 40px;
    width: 100%;
    padding: 0;
}

.post-detail .comment-form .comment-respond small {
    display: block;
    margin: 0 0 13px;
    position: relative;
}

.post-detail .comment-form .logged-in-as {
    margin: 0 0 17px;
    font-size: 12px;
    font-weight: 400;
}

.post-detail .comment-form .logged-in-as a {
    color: #4e4e4e;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.post-detail .comment-form .logged-in-as a:hover {
    color: #9d9d9d;
}

.post-detail .comment-respond textarea {
    width: 100%;
    border: 1px solid #c7c7c7;
    outline: 0;
    resize: none;
    font-family: inherit;
    line-height: 18px;
    font-size: 13px;
    padding: 15px 17px;
    color: #7f8385;
    margin: 5px 0 13px 0;
    overflow: auto;
    transition: all 0.25s;
}
.post-detail .comment-respond textarea:focus {
    border-color: #222;
}

.post-detail .comment-respond .form-submit input {
    position: relative;
    display: inline-block;
    width: auto;
    color: #000;
    font-size: 11px;
    line-height: 42px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid #c7c7c7;
    margin: 0;
    padding: 0 30px;
    font-family: inherit;
    text-align: left;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -ms-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -o-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.post-detail .comment-respond .form-submit input:hover {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.post-detail p.must-log-in {
    padding-bottom: 40px;
}


/* woocommerce - classic home */
.woocommerce .products ul,
.woocommerce ul.products {
    margin: 0 0 -2.272727272727273% 0 !important;
    padding: 1% 0 !important;
}

.woocommerce ul.products {
    list-style: none;
    margin: 0 0 26px;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.woocommerce ul.products li.product {
    width: 23.29545454545455% !important;
    margin: 0 2.272727272727273% 2.272727272727273% 0!important;
    text-align: center;
}

.product-holder ul.products li.product {
    width: 31.81818181818182% !important;
    margin: 0 2.272727272727273% 2.272727272727273% 0 !important;
}


.woocommerce ul.products li.product .product_info_overlay {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    left: 0; top: 0;
    z-index: 9999;
}

.woocommerce ul.products li.product:nth-child(4n) {
    margin: 0 0 2.272727272727273% 0!important;
}
.woocommerce ul.products li.product .image-wrapper {
    position: relative;
    display: block;
}
.woocommerce ul.products li.product a img {
    margin-bottom: 0 !important;
}
.woocommerce ul.products li.product>.product_info_box {
    padding: 10px 5px 17px 5px;
    background-color: #ffffff;
    text-align: center;
}
.woocommerce ul.products li.product span.product-categories {
    display: none;
}


.woocommerce ul.products li.product a.product-category {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 56px;
}

.woocommerce ul.products li.product .separator_holder {
    padding-top: 7px;
}

.woocommerce ul.products li.product span.product-title {
    font-family: Raleway, sans-serif;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
	word-break: break-all;
    margin: 0 5px;
}
.woocommerce .product_info_box .separator {
    margin-top: 9px;
    margin-bottom: 9px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    position: relative;
    display: block;
    border-bottom: 1px solid #222111;
}
.woocommerce ul.products.type1 li.product .price {
    font-family: Dancing Script, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
    display: inline;
    width: auto;
}
.woocommerce li.product div.star-rating {
    display: none;
}

.woocommerce ul.products:not(.hover_type2) li.product .add-to-cart-button-outer {
    margin-left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.woocommerce ul.products li.product .add-to-cart-button-inner {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}
.woocommerce ul.products:not(.hover_type2) li.product .add-to-cart-button-inner2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.woocommerce ul.products li.product .add-to-cart-button-inner2 .product_link_over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.woocommerce ul.products li.product .add-to-cart-button {
    font-family: Raleway, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    filter: alpha(opacity=0);
    padding: 0 20px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    z-index: 200;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: opacity .4s ease,transform .4s ease,color .4s ease,background-color .4s ease,border-color .4s ease !important;
    -webkit-transition: opacity .4s ease,-webkit-transform .4s ease,color .4s ease,background-color .4s ease,border-color .4s ease !important;
    -moz-transition: opacity .4s ease,-moz-transform .4s ease,color .4s ease,background-color .4s ease,border-color .4s ease !important;
    -ms-transition: opacity .4s ease,-ms-transform .4s ease,color .4s ease,background-color .4s ease,border-color .4s ease !important;
    -o-transition: opacity .4s ease,-o-transform .4s ease,color .4s ease,background-color .4s ease,border-color .4s ease !important;
    color: #ffffff;
    background-color: #222222;
    border-width: 0px;
    border-style: solid;
    border-color: #222222;
    line-height: 40px;
    height: 40px;
}

.woocommerce ul.products:not(.hover_type2) li.product:hover .add-to-cart-button {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    z-index: 10000;
}

.is-mobile ul.products li.product .add-to-cart-button-outer {
    display: none;
}


.woocommerce ul.products  li.product .product_image_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: opacity .4s ease,background-color .4s ease;
    -moz-transition: opacity .4s ease,background-color .4s ease;
    -o-transition: opacity .4s ease,background-color .4s ease;
    -ms-transition: opacity .4s ease,background-color .4s ease;
    transition: opacity .4s ease,background-color .4s ease;
}

.woocommerce ul.products li.product:hover .product_image_overlay {
    opacity: 0.2!important;
}

.woocommerce .product .onsale {
    font-family: Dancing Script, sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    color: #222222;
    background-color: #f0f0f0;
    top: -20px;
    width: 75px;
    height: 75px;
    display: table;
    left: 50% !important;
    margin-left: -37.5px !important;
    z-index: 5;
}

.woocommerce .product .onsale.out-of-stock-button span,
.woocommerce .product .onsale.out-of-stock-button span,
.woocommerce .product .onsale-inner {
    display: table-cell;
    vertical-align: middle;
}

.woocommerce ul.products.type1 li.product .price del,
.woocommerce ul.products.type1 li.product .price ins {
    display: inline-block !important;
}
.woocommerce ul.products.type1 li.product .price del span {
    margin-right: 5px;
}

.woocommerce ins,
.woocommerce-page ins {
    text-decoration: none;
}


.woocommerce ul.products li.product.outofstock .product_image_overlay {
    display: none;
}

.woocommerce ul.products li.outofstock .product_info_overlay {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: opacity .4s ease,background-color .4s ease;
    -moz-transition: opacity .4s ease,background-color .4s ease;
    -ms-transition: opacity .4s ease,background-color .4s ease;
    -o-transition: opacity .4s ease,background-color .4s ease;
    background-color: #000000;
    opacity: 0.4!important;
}

@media (max-width: 768px) {
    .woocommerce ul.products li.product {
        width: 48.89% !important;
        margin: 0 2.22% 2.22% 0 !important;
    }
    .woocommerce ul.products li.product:nth-child(2n){
        margin: 0 0 2.22% !important;
    }
    .our-shop .eltd_elements_item.text .eltd_elements_item_content {
        padding: 30px 15px 30px 15px;
    }
    .woocommerce ul.products li.product a.product-category {
        padding: 0 5px;
    }
}

/*
@media (max-width: 360px) {
    .woocommerce ul.products li.product {
        width: 100% !important;
        margin: 0 0 2.22% !important;
    }
}
*/


/* product-single */
nav.woocommerce-breadcrumb { display: none; }

.product-holder {
    width: 100%;
    position: relative;
    display: table;
    margin-bottom: 2%;
}

.product-holder .product_meta a {
    text-decoration: none;
}
.product-holder .product_meta a:hover,
.product-holder .product_meta a:active,
.product-holder .product_meta a:focus {
    text-decoration: none;
}

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus {
    padding: 0;
    width: 47px;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    display: inline;
    cursor: pointer;
    outline: 0;
    background-color: #f5f5f5;
    color: #23303a;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    margin: 0 3px;
    float: right;
}
.woocommerce .quantity input[type="text"].qty, .woocommerce #content .quantity input[type="text"].qty, .woocommerce-page .quantity input[type="text"].qty, .woocommerce-page #content .quantity input[type="text"].qty {
    position: relative;
    height: 47px;
    width: 47px;
    display: inline;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    color: #23303a;
    font-size: 14px;
    line-height: 47px;
    font-weight: 400;
    float: right;
    box-sizing: border-box;
}

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus {
    margin: 0;
}

.woocommerce .quantity input[type="text"].qty {
    color: #222222;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf!important;
}

.woocommerce .quantity .minus,
.woocommerce .quantity .plus {
    color: #222222;
    background-color: transparent;
    border: 1px solid #dfdfdf;
}
.woocommerce .quantity input[type="text"].qty {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

.woocommerce div.product .cart .quantity,
.woocommerce-cart .quantity {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #23303a;
    display: inline-block;
    vertical-align: middle;
}

.woocommerce div.product .cart {
    margin: 38px 0;
}

.woocommerce div.product .summary p.price {
     font-size: 30px;
     color: #23303a;
 }

.woocommerce .product h2.product_title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 15px;
}


.woocommerce .quantity .minus:hover, .woocommerce .quantity .plus:hover {
    color: #222222 !important;
    background-color: #dfdfdf !important;
    border-color: #dfdfdf !important;
}

.woocommerce .content .button, .woocommerce-page .content .button, .woocommerce .content button.button, .woocommerce-page .content button.button, .woocommerce-page .content input[type="submit"]:not(.eltd_search_submit), .woocommerce .content input[type="submit"]:not(.eltd_search_submit), .woocommerce ul.products li.product .added_to_cart


.woocommerce ul.products li.product .add-to-cart-button, .woocommerce ul.products li.product .added_to_cart, .woocommerce .widget_price_filter .button, .woocommerce-page .widget_price_filter .button, .woocommerce .widget_shopping_cart_content p.buttons a.button, .woocommerce .content .button, .woocommerce-page .content .button, .woocommerce .content button.button, .woocommerce-page .content button.button, .woocommerce-page .content input[type="submit"]:not(.eltd_search_submit), .woocommerce .content input[type="submit"]:not(.eltd_search_submit) {
    font-family: Raleway, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #222222;
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    padding-left: 30px;
    padding-right: 30px;
}

.woocommerce.single-product button.single_add_to_cart_button {
    font-size: 11px;
    line-height: 45px;
    height: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    transition: all 0.25s;
}


.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    background-color: transparent;
    display: table-cell;
    vertical-align: middle;
    /* line-height: 29px; */
    line-height: initial;
    color: #000;
    border-radius: 0;
    padding: 0 30px;
}
.woocommerce div.product form.cart .button:hover {
    color: #fff;
    background-color: #222;
}


.woocommerce div.product div.product_meta>span, .woocommerce div.product div.product_meta>.social_share_list_holder>span {
    display: block;
    position: relative;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #23303a;
}

.woocommerce div.product div.product_meta>span {
    margin-bottom: 3px;
}

.woocommerce div.product div.product_meta > span, .woocommerce div.product div.product_meta > .social_share_list_holder > span {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
}

.woocommerce div.product div.product_meta > span span, .woocommerce div.product div.product_meta > span a {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    color: #8c8c8c;
}

p {
    font-size: 14px;
    line-height: initial;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #797979;
}

.woocommerce div.product div[itemprop="description"] {
    margin: 27px 0 0 0;
}

.woocommerce div.product div[itemprop="description"] span.description_title {
    font-family: Raleway, sans-serif;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
    display: block;
    margin-bottom: 15px;
}


.woocommerce div.product .woo_single_separator {
    display: block;
    width: 35px;
    height: 1px;
    background-color: #303030;
    margin-bottom: 31px;
}

.woocommerce .product .woocommerce-accordion {
    margin: 35px 0 0 0;
}
.eltd_accordion_holder {
    position: relative;
    display: block;
}
.eltd_accordion_holder.accordion.boxed .ui-accordion-header {
    text-align: center;
    height: 48px;
    line-height: 48px;
    margin: 16px 0 0;
    padding: 0 27px;
    color: #222;
    background-color: #f6f6f5;
    border: 1px solid #f6f6f5;
}
.woocommerce .eltd_accordion_holder .ui-accordion-header.title-holder {
    font-family: Raleway, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
}

.product-holder h6.title-holder {
    border: 1px solid #dfdfdf;
    padding: 0 27px;
    text-align: center;
    height: 48px;
    line-height: 45px;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
    margin-top: 15px;
    transition: all 0.24s;
    cursor: pointer;
}
.product-holder h6.title-holder:first-child { margin-top: 0;   }
.product-holder h6.title-holder:hover,
.product-holder h6.title-holder.is-select {
    background-color: #222;
    color: #fff;
}

.product-holder .accordion_content_inner {
    text-align: left;
    padding: 35px 0 20px 0;
}

.product-holder input {
    color: #666 !important;
}

table thead tr,
table tbody tr {
    border: 1px solid #e6e6e6;
}
table tbody th {
    border-right: 1px solid #e6e6e6;
}
table td {
    padding: 5px 10px !important;
    text-align: center;
}
.woocommerce table td {
    text-align: left;
    font-style: initial !important;
    color: #222 !important;
}
.woocommerce table th {
    background: 0;
    text-align: left;
}

.woocommerce table.shop_attributes .alt td, .woocommerce table.shop_attributes .alt th {
    background: transparent !important;
}


.woocommerce .summary p.stock.out-of-stock {
    display: inline-block;
    font-weight: 700;
    color: #393939;
    padding-bottom: 1px;
    margin: 8px 0;
}

.woocommerce #comments {
    margin-bottom: 13px;
}

.woocommerce #respond #reply-title {
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #222;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.woocommerce .comment-form-rating {
    margin-bottom: 13px;
}
.woocommerce .comment-form-rating label {
     margin-bottom: 5px;
     display: inline-block;
}

.woocommerce .content input[type="text"]:not(.eltd_search_field):not(.qty), .woocommerce-page .content input[type="text"]:not(.eltd_search_field):not(.qty), .woocommerce .content input[type="email"], .woocommerce-page .content input[type="email"], .woocommerce-page .content input[type="tel"], .woocommerce .content textarea, .woocommerce-page .content textarea, .woocommerce .content input[type="password"], .woocommerce-page .content input[type="password"], .woocommerce .chosen-container.chosen-container-single .chosen-single, .woocommerce-page .chosen-container.chosen-container-single .chosen-single, .woocommerce-checkout .chosen-container.chosen-container-single .chosen-single, .woocommerce .content table.cart div.coupon .input-text, .woocommerce-page .content table.cart div.coupon .input-text, .woocommerce div.cart-collaterals .select2-container .select2-choice, .woocommerce-page div.cart-collaterals .select2-container .select2-choice, .woocommerce #commentform input[type="text"], .woocommerce #commentform input[type="email"], .woocommerce #commentform textarea, .woocommerce-checkout .select2-container .select2-choice, .woocommerce-account .select2-container .select2-choice, .woocommerce-page .select2-drop input[type="text"] {
    background-color: transparent;
}

.woocommerce #commentform input[type="text"], .woocommerce #commentform input[type="email"], .woocommerce #commentform textarea {
    display: block;
    padding-left: 2.6%;
    padding-right: 2.6%;
    width: 100%;
    box-sizing: border-box;
}

#respond textarea, #respond input[type='text'], .comment_holder #respond textarea, .comment_holder #respond input[type='text'], input.wpcf7-form-control.wpcf7-text, input.wpcf7-form-control.wpcf7-number, input.wpcf7-form-control.wpcf7-date, textarea.wpcf7-form-control.wpcf7-textarea, select.wpcf7-form-control.wpcf7-select, input.wpcf7-form-control.wpcf7-quiz {
    background-color: transparent;
    border: 1px solid #c7c7c7;
    color: #c7c7c7;
}

#respond textarea {
    padding: 15px 17px;
    color: #7f8385;
    margin: 5px 0 13px 0;
    overflow: auto;
    outline: 0;
    resize: none;
    font-family: inherit;
    line-height: 18px;
    font-size: 13px;
}


.woocommerce #respond input#submit {
    position: relative!important;
    display: inline-block!important;
    font-family: Raleway, sans-serif !important;
    font-size: 10px!important;
    letter-spacing: 2px!important;
    font-weight: 700!important;
    font-style: normal!important;
    text-transform: uppercase!important;
    color: #ffffff!important;
    background-color: #222222!important;
    height: auto!important;
    line-height: 47px!important;
    width: auto!important;
    cursor: pointer!important;
    outline: 0!important;
    text-shadow: none!important;
    border-radius: 0!important;
    border: 1px solid #222222 !important;
    /*
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #222222!important;
    */
    padding: 0 30px 0 30px !important;
    /*
    padding-top: 0!important;
    padding-right: 30px!important;
    padding-bottom: 0!important;
    padding-left: 30px!important;
    */
    transition: all 0.25s;
}
.woocommerce #respond input#submit:hover {
    color: #222222!important;
    background-color: transparent!important;
    border-color: #222222;
}


.woocommerce div.upsells, .woocommerce div.related {
    clear: both;
}

.woocommerce div.upsells .related-products-title, .woocommerce div.related .related-products-title {
    font-family: Raleway, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 25px;
}


.page-header {
    width: 100%;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
}


aside.vertical_menu_area {
    position: fixed;
    width: 290px;
    top: 0;
    left: 0;
    padding: 30px 40px;
    background-color: #fff;
    height: 100%;
    z-index: 1500;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    transition: background-color .3s ease;
    outline: 0;
    overflow-y: auto;
}


.vertical_logo_wrapper {
    text-align: left;
}

.eltd_logo_vertical a {
    display: block;
    position: relative;
    height: 100%;
}
.eltd_logo_vertical a:focus { outline: none; }

.vertical_logo_wrapper img {
    position: relative;
    max-height: 100%;
    top: 0; left: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    transition: opacity .3s ease;
}


nav.desktop-menu {
    position: relative;
    z-index: 101;
    margin: 40px 0 0;
    text-align: left;
    margin-top: 30px;
}

nav.desktop-menu ul li a {
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    display: table;
    padding: 8px;
    border: 1px solid transparent;
}
nav.desktop-menu ul li a:hover {
    border-color: #dfdfdf;
}

.page-header {
    width: 100%;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
}

.wrapper_inner {
    width: 100%;
    overflow: hidden;
}

.paspartu_outer {
    display: table;
    width: 100%;
    background-color: #222222;
    padding: 2% 2% 2% 2%;
    padding-bottom: 0 !important;
}

.paspartu_middle_inner {
    padding-left: 290px;
    padding-bottom: 2%;
}

.paspartu_top {
    position: fixed;
    padding-top: 2%;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 200;
}
.paspartu_bottom {
    position: fixed;
    padding-top: 2%;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1200;
}

.paspartu_left, .paspartu_right {
    position: fixed;
    height: 100%;
    width: 2%;
    top: 0;
    left: 0;
    /* background-color: #fff; */
    z-index: 101;
}

.paspartu_left {
    left: 290px;
}
.paspartu_right {
    left: auto;
    right: 0;
}

.paspartu_outer,
.paspartu_left,
.paspartu_right,
.paspartu_top,
.paspartu_bottom,
.paspartu_outer .eltd_slider,
.paspartu_outer .content:not(.has_slider) .content_inner {
    background-color: #222222;
}

ul.sub-menu {
    margin-left: 15px;
}

ul.sub-menu li:before {
    position: absolute;
    margin-left: -10px;
    content: "-";
    line-height: 32px;
    display: block;
}

div#container {
    background-color: #f5f5f5;
    max-width: 1024px;
    display: block;
    margin: 0 auto;
    transition: all 1s;
}

div#container-inner {
    width: 90%;
    margin: 0 auto -2%;
    padding: 44px 0;
}

h4 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}

h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2, h2 a,
h3, h3 a,
h4, h4 a {
   color: #222222;
}

a, p a {
    color: #8c8c8c;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
a:hover,
p a:hover {
    color: #222;
}


.woocommerce .myaccount_user {
    margin-bottom: 25px;
    color: #393939;
}

.woocommerce .myaccount_address {
    margin: 20px 0 20px 0;
}

.woocommerce-account h2, .woocommerce-account h3 {
    font-size: 17px;
    margin: 20px 0;
}


.woocommerce a.button,
.woocommerce ul.products li.product .add-to-cart-button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce .widget_price_filter .button,
.woocommerce-page .widget_price_filter .button,
.woocommerce .widget_shopping_cart_content p.buttons a.button,
.woocommerce .content .button,
.woocommerce-page .content .button,
.woocommerce .content button.button,
.woocommerce-page .content button.button,
.woocommerce-page .content input[type="submit"]:not(.eltd_search_submit),
.woocommerce .content input[type="submit"]:not(.eltd_search_submit),
.woocommerce .cart .button, .woocommerce .cart input.button {
    height: auto;
    -webkit-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0 25px;
    text-align: left;
    cursor: pointer;
    outline: 0;
    text-shadow: none;
    vertical-align: middle;
    font-weight: 300;
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important;
    font-family: Raleway, sans-serif;
    font-size: 10px !important;
    letter-spacing: 2px;
    font-style: normal;
    text-transform: uppercase;
    background-color: #222222 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #222222 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px !important;
    color: #fff !important;
    line-height: 30px !important;
}
.woocommerce a.button:hover {
    color: #222222!important;
    background-color: transparent!important;
    border-color: #222222;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    margin-right: 15px;
    padding: 0 13px;
    height: 33px;
    position: relative;
    background-color: transparent;
    font-size: 12px;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100% !important;
}

.woocommerce div.cart-collaterals h2, .woocommerce-page .div.cart-collaterals h2 {
    font-size: 19px;
    margin-bottom: 25px;
    letter-spacing: 0;
    text-transform: none;
}

.cart-collaterals th,
.cart-collaterals td {
    padding: 3px;
}

.woocommerce table.shop_table {
    border-radius: 0;
}

.woocommerce a.remove {
    color: #000 !important;
    width: 100%;
    height: 100%;
}

.woocommerce table.cart tbody td.product-remove,
.woocommerce-page table.cart tbody td.product-remove {
    text-align: center;
}

.shopping_cart_header .header_cart.with_button {
    background-color: #303030;
    padding: 10px 20px;
    border-radius: 0;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    background-color: #222222;
}

.shopping_cart_header .header_cart.with_button span {
    color: #fff;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    text-transform: uppercase;
    font-size: 11px;
}
.shopping_cart_header .header_cart.with_button span:first-child {
    margin-right: 5px;
}


.vertical_menu_area .widget-area {
    margin-top: 22px;
}

.shopping_cart_outer .shopping_cart_header .header_cart_span, .shopping_cart_outer .shopping_cart_header .header_cart.with_button .header_cart_span {
    color: #ffffff;
}


.empty-cart-wrapper {
    text-align: center;
}

p.cart-empty {
    margin-bottom: 15px;
}


.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    background-color: transparent;
    width: 100%;
    padding: 10px 17px;
    outline: 0;
    resize: none;
    font-family: inherit;
    line-height: 18px;
    background-color: #f6f6f5;
    color: #7f8385;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-size: 13px;
    border-radius: 0;
}


.woocommerce-checkout h2, .woocommerce-account h2, .woocommerce-checkout h3, .woocommerce-account h3 {
    margin-top: 20px;
    margin-bottom: 28px;
    font-size: 17px;
}

.select2-container .select2-choice,
.select2-drop {
    border-radius: 0 !important;
}

#add_payment_method #payment, .woocommerce-checkout #payment {
    background-color: transparent !important;
    border-radius: 0 !important;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    border: 1px solid #dfdfdf;
}

#add_payment_method #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    padding-bottom: 44px !important;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    font-family: Raleway, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #222222;
    /*
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    */
    border: 1px solid #222222;
    border-radius: 0;
    padding: 30px;
    transition: all 0.25s;
}

.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_orde:hover {
    color: #222222 !important;
    background-color: transparent !important;
    border-color: #222222;
}


.page-header { display: none; }
@media (max-width:1024px) {
    aside.vertical_menu_area { display: none; }
    .page-header {
        position: relative!important;
        display: table;
        margin: 0;
        padding: 0 2%;
        border: 0;
        z-index: 110;
        background-color: #222;
    }
    .paspartu_left { left: 0; }
    .paspartu_middle_inner { padding-left: 0; }

    .header-inner {
        width: 100%;
        height: 10px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header_inner_left {
        position: relative;
        left: 0;
        margin-bottom: 0;
    }

    .mobile_menu_button {
        display: table;
        height: 80px;
        float: left;
        margin: 0 20px 0 0;
    }

    .mobile_menu_button span {
        width: 19px;
        height: 17px;
        font-size: 14px;
        z-index: 50;
        display: table-cell;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
    }


    .logo_wrapper {
        display: table;
        left: 50%;
        position: absolute;
        height: 80px !important;
        float: left;
    }

    .eltd_logo {
        display: table-cell;
        position: relative;
        top: auto;
        vertical-align: middle;
        left: 0;
    }

    .logo_wrapper a {
        position: relative;
        display: block;
        left: -50%;
        width: auto!important;
        height: 50px !important;
    }

    img.mobile {
        display: block!important;
        opacity: 1!important;
        position: relative;
        margin: 0 auto;
        width: auto!important;
        max-width: none;
    }

    .page-header nav#menu {
        width: 100%;
        float: left;
        position: relative;
        top: 0;
        text-align: left;
        overflow: hidden;
        z-index: 100;
    }


    .page-header nav#menu ul li a {
        padding: 9px 0;
        display: block;
        position: relative;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        line-height: 17px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        color: #8c8c8c;
        transition: all 0.25s;
        text-decoration: none;
    }
    .page-header nav#menu ul li a:hover,
    .page-header nav#menu ul li.current-menu-item a{
        color: #4e4e4e;
    }


    footer#footer {
        padding-left: 0 !important;
    }

}


.shopping_cart_outer {
    display: block;
    line-height: 37px;
}


div#lang_sel {
    margin-top: 10px;
    text-align: center !important;
}

#lang_sel a.lang_sel_sel {
    padding: 0 5px !important;
}

.product-holder .related.products {
    margin-bottom: 44px;
}

body.home nav.woocommerce-pagination { display: none !important; }

footer#footer {
    width: 100%; height: 100%;
    min-height: 200px;
    background-color: #222;
    padding-left: 290px;
}

footer#footer .footer-wrapper {
    width: 100%; height: 300px;
    padding: 10px 3% 3%;
    display: table;
    background-color: #333;
    max-width: 1024px;
    margin: 0 auto;
}

footer#footer .footer-col {
    height: 100%;
}

footer#footer .company-info,
footer#footer .footer-right {
    display: table;
    height: 100%;
    padding: 15px 25px 25px;
    font-size: 12px;
    line-height: 1.2em;
}
footer#footer .footer-right {
    text-align: right;
}

footer#footer h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

footer#footer .company-info a {
    text-decoration: underline;
    transition: all 0.25s;
}

footer#footer .company-info a:hover,
footer#footer .company-info a:focus,
footer#footer .company-info a:active {
    color: #BBB;
}


footer div#lang_sel {
    float: right !important;
    color: #333 !important;
    text-align: center !important;
}

footer #lang_sel li,
footer #lang_sel ul ul {
    width: 135px !important;
}

@media (max-width: 768px) {
    footer#footer div#lang_sel {
        float: initial !important;
    }

    footer#footer .footer-right {
        text-align: left !important;
    }
}



.product-holder .accordion_content {
    height: 0;
    overflow: hidden;
}

.entry-content img {
    width: 100%;
    height: auto;
}

/* related products */
.related.products ul.products li.product {
    width: 23.29545454545455% !important;
    margin: 0 2.272727272727273% 2.272727272727273% 0 !important;
    clear: initial !important;
    float: left !important;
}
.product-holder ul.products li.product:nth-child(4n) {
    margin: 0 0 2.22% 0!important;
}



@media (max-width: 600px) {
    div.related.products ul.products li.product a.add-to-cart-button {
        padding: 0 5px !important;
        letter-spacing: 0;
    }
}

@media (max-width: 768px) {
    .related.products ul.products li.product {
        width: 48.89% !important;
        margin: 0 2.22% 2.22% 0 !important;
    }
    .product-holder ul.products li.product:nth-child(2n) {
        margin: 0 0 2.22% 0!important;
    }
}

@media (max-width: 360px) {
    .related.products ul.products li.product {
        width: 100% !important;
        margin: 0 0 2.22% 0!important;
    }
}


.product-holder .custom-html {
    clear: both;
    margin: 25px 0;
}


/* woocommerce page (page template) */
.woocommerce-page h1.page-title {
    display: none;
}

.woocommerce-page > ul.products.clearfix {
    display: none;
}

/* cart */
.page-header .shopping_cart_outer {
    position: absolute;
    right: 25px;
    top: 25px;
}

.page-header .shopping_cart_outer .header_cart_span {
    border-radius: 30px;
    background-color: red;
    position: relative;
    padding: 1px 4px;
    font-weight: 700;
    text-align: center;
    left: -3px;
    bottom: -6px;
    font-size: 12px !important;
}

.page-header .shopping_cart_outer .fa {
    font-size: 21px;
}

.page-header .shopping_cart_header .header_cart.with_button {
    padding: 0;
}
.page-header .shopping_cart_header .header_cart.with_button:hover,
.page-header .shopping_cart_header .header_cart.with_button:focus,
.page-header .shopping_cart_header .header_cart.with_button:active {
    color: #fff;
    text-decoration: none;
}


@media (max-width: 768px) {
    .woocommerce .quantity .minus,
    .woocommerce #content .quantity .minus,
    .woocommerce-page .quantity .minus,
    .woocommerce-page #content .quantity .minus,
    .woocommerce .quantity .plus,
    .woocommerce #content .quantity .plus,
    .woocommerce-page .quantity .plus,
    .woocommerce-page #content .quantity .plus,
    .woocommerce .quantity input[type="text"].qty,
    .woocommerce #content .quantity input[type="text"].qty,
    .woocommerce-page .quantity input[type="text"].qty,
    .woocommerce-page #content .quantity input[type="text"].qty {
        width: 38px !important;
        height: 38px !important;
        line-height: 38px !important;
    }
    .woocommerce.single-product button.single_add_to_cart_button {
        font-size: 10px !important;
        padding: 0 10px !important;
        height: 36px !important;
    }
}

@media (max-width: 768px) {
    .woocommerce table.shop_table th {
        padding: 9px 5px !important;
    }

    tr.cart_item td {
        padding: 5px !important;
    }
    tr.cart_item td.product-remove {
        padding: 0 !important;
    }
    tr.cart_item td.product-remove .woocommerce a.remove {
        margin: 0 !important;
    }

    .woocommerce-cart.woocommerce-page #content .quantity .minus,
    .woocommerce-cart.woocommerce-page #content .quantity .plus,
    .woocommerce-cart.woocommerce-page #content .quantity input[type="text"].qty {
        width: 28px !important;
        height: 28px !important;
        line-height: 28px !important;
    }

    .woocommerce .cart.shop_table .button,
    .woocommerce .cart.shop_table input.button {
        width: 100% !important;
        padding: 0 !important;
        text-align: center;
    }

    .woocommerce .cart-collaterals .cart_totals,
    .woocommerce-page .cart-collaterals .cart_totals {
        width: 100% !important;
    }

}

.shop_table input.button {
    width: inherit !important;
    float: right !important;
    margin: 5px 0 5px 5px !important;
}


@media (max-width: 360px) {
    .shop_table tr {
        font-size: 11px;
    }
    .shop_table tr.cart_item td {
        padding: 5px !important;
    }

    .woocommerce-cart.woocommerce-page #content .quantity .minus,
    .woocommerce-cart.woocommerce-page #content .quantity .plus,
    .woocommerce-cart.woocommerce-page #content .quantity input[type="text"].qty {
        width: 21px !important;
        height: 21px !important;
        line-height: 21px !important;
    }

    .woocommerce .cart.shop_table .button,
    .woocommerce .cart.shop_table input.button {
        font-size: 10px !important;
        line-height: 20px !important;
    }

    .woocommerce div.product .cart .quantity, .woocommerce-cart .quantity {
        margin-left: 10px !important;
    }
}


.woocommerce .woocommerce-message {
    border: 0 !important;
}

.woocommerce-account .woocommerce input.button {
    background-color: #222;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    padding: 0 30px;
    line-height: 30px;
    margin: 25px 0;
}

.order-details-wrapper {
    padding-bottom: 45px;
}

@media (max-width: 480px) {
    .woocommerce-checkout #payment ul.payment_methods li img {
        display: none;
    }

    .woocommerce-cart.woocommerce-page #content .quantity .minus,
    .woocommerce-cart.woocommerce-page #content .quantity .plus,
    .woocommerce-cart.woocommerce-page #content .quantity input[type="text"].qty {
        float: initial;
        display: block;
    }

    .woocommerce div.product .cart .quantity, .woocommerce-cart .quantity {
        float: initial;
        display: table;
        margin-left: 15px;
    }

    .woocommerce-cart.woocommerce-page #content .quantity input[type="text"].qty {
        border-left: 1px solid #dfdfdf !important;
        border-right: 1px solid #dfdfdf !important;
        border-top: 0;
        border-bottom: 0;
    }
}

.woocommerce-checkout-review-order tr td {
    text-align: left;
    padding: 9px 12px !important;
}


@media (max-width: 768px) {
    .text-over-image-wide-no-space article .image_holder img {
        min-height: initial;
        width: 100%;
        height: auto;
        min-width: initial;
    }
}


/* boostrap */

.carousel-inner,
.item {
    height: 100%;
}

.carousel-indicators li {
    margin: 1px 3px;
}
.carousel-indicators .active {
    margin: 0 2px;
}

.slide-image {
    width: 100%; height: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-title {
    position: absolute;
    display: table;
    padding: 5px 10px;
    left: 0; bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: #ECF0F1;
}

.kt-banner {
    display: block;
    padding: 0;
    overflow: hidden;
}
.kt-banner:hover {
    text-decoration: none;
}

/*
.kt-banner:last-child {
    margin-bottom: 2%;
}
*/

.kt-banner-image {
    width: 100%; height: 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.kt-banner-title-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.kt-banner-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.kt-banner-subtitle {
    text-align: center;
    font-size: 21px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
}


.kt-banner-type-image span.separator.animate {
    display: block;
    width: 75px;
    margin: 10px auto;
}

.kt-banner-type-image .kt-banner-subtitle {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: lowercase;
}

.kt-banner-type-video .kt-banner-title-wrapper {
    position: absolute;
    display: initial;
    height: initial;
    left: 0; bottom: 0;
    padding: 50px 20px 30px;
}
.kt-banner-type-video .kt-banner-title-wrapper .kt-banner-title,
.kt-banner-type-video .kt-banner-title-wrapper .kt-banner-subtitle {
    display: table;
    text-align: left;
}

.kt-banner-image-wrapper {
    height: 100%;
}

.kt-banner .row {
    height: 100%;
}

.kt-banner-desc {
    color: #CCC;
    font-weight: 300;
    font-size: 18px;
    line-height: initial;
}

.kt-row {
    margin-left: -10px;
    margin-right: -10px;
}

.kt-row > * {
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width: 768px) {
    .kt-row {
        margin-left: -1.11%;
        margin-right: -1.11%;
    }

    .kt-row > * {
        padding-left: 1.11%;
        padding-right: 1.11%;
    }
}

.kt-banner-type-bio .kt-banner-image-wrapper {
    height: 100%;
    display: table;
}

.kt-banner-type-video .kt-banner-image {
    display: none;
}

.is-mobile .kt-banner-type-video .kt-banner-video {
    visibility: hidden;
}
.is-mobile .kt-banner-type-video .kt-banner-image {
    position: absolute;
    display: block;
    left: 0; top: 0;
}

/* grid system */

@media (max-width: 480px) {
.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9 { width: 75%; }
.col-xxs-8 { width: 66.66666667%; }
.col-xxs-7 { width: 58.33333333%; }
.col-xxs-6 { width: 50%; }
.col-xxs-5 { width: 41.66666667%; }
.col-xxs-4 { width: 33.33333333%; }
.col-xxs-3 { width: 25%; }
.col-xxs-2 { width: 16.66666667%; }
.col-xxs-1 { width: 8.33333333%; }
}


/* vertical slide */
.carousel.vertical {
    display: table;
    width: 100%;
}
.carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
}
/*
이 부분을 켜두면 모바일에서 수직으로 애니메이션 후, 다시 수평으로 애니메이션 되는 현상 발생함.
일단 주석처리 했더니 고쳐짐
.carousel.vertical .carousel-inner > .item {
    width: auto;
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}
*/
@media all and (transform-3d), (-webkit-transform-3d), (-moz-transform-3d), (-ms-transform-3d), (-o-transform-3d) {
    /*
    .carousel.vertical .carousel-inner > .item {
        -webkit-transition: 0.6s ease-in-out;
        -moz-transition: 0.6s ease-in-out;
        -ms-transition: 0.6s ease-in-out;
        -o-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
    */

    .carousel.vertical .carousel-inner > .item.next,
    .carousel.vertical .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .item.prev,
    .carousel.vertical .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .item.next.left,
    .carousel.vertical .carousel-inner > .item.prev.right,
    .carousel.vertical .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}

.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    display: block;
}
.carousel.vertical .carousel-inner > .active {
    top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel.vertical .carousel-inner > .next {
    top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
    top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
    top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
    top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
    top: 100%;
}

.carousel.vertical .carousel-control {
    left: auto;
    width: 50px;
}
.carousel.vertical .carousel-control.up {
    top: 0;
    right: 0;
    bottom: 50%;
}
.carousel.vertical .carousel-control.down {
    top: 50%;
    right: 0;
    bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
    content: '\2039';
}
.carousel.vertical .carousel-control .icon-next:before {
    content: '\203a';
}

.carousel.vertical .carousel-indicators-wrapper {
    position: absolute;
    display: table;
    width: 50px; height: 100%;
    right: 50px;
}

.carousel.vertical .carousel-indicators {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    left: initial;
    right: 0;
    bottom: 0;
}

.carousel.vertical .carousel-indicators li {
    display: block;
    margin: 3px auto;
}
.carousel.vertical .carousel-indicators .active {
    margin: 2px auto;
}

.carousel-control.left,
.carousel-control.right {
    background: none !important;
}

@media (max-width: 768px) {
    .kt-banner-title {
        font-size: 21px;
    }

    .kt-banner-subtitle {
        font-size: 16px;
    }

    .kt-banner-desc {
        font-size: 14px;
    }
}


/* woocommerce */

.woocommerce form.login {
    padding: 0 !important;
    border: 0 !important;
}


nav#nav-below {
    padding-bottom: 15px;
}

nav#nav-below > div {
    width: 49%;
    display: inline-block;
}

nav#nav-below .nav-next {
    text-align: right;
}

.woocommerce address {
    font-style: normal !important;
    line-height: 24px;
}

.addresses h3,
.addresses h2 {
    font-size: 100%;

}

/* language switcher */
.lang-sel-dropdown button {
    border-radius: 0;
    border: 0;
    padding: 2px 10px;
    font-size: 12px;
}

.lang-sel-dropdown {
    margin-top: 5px;
    display: inline-table;
}

.lang-sel-dropdown .dropdown-menu {
    border: 0;
    border-radius: 0;
    padding: 0;
    font-size: 12px;
    min-width: 0 !important;
}

.lang-sel-dropdown a {
    padding: 2px 6px !important;
}

footer#footer .subscribe-wrapper {
    position: absolute;
    display: block;
    right: 25px;
    margin-top: 20px;
}

footer#footer .subscribe-wrapper form {
    /* display: table; */
}

#kt_footer_emailWrap form > div {
    display: table-cell;
}

footer#footer .subscribe-wrapper .mc-field-group {
    /* width: 100%; */
}
footer#footer .subscribe-wrapper .mc-field-group input {
    border: 0;
    padding: 10px;
    height: 30px;
}

footer#footer .subscribe-wrapper #mc-embedded-subscribe {
    width: 45px;
    padding: 5px;
    border: 0;
    height: 30px;
}


footer#footer .footer-slogan {
    font-size: 16px;
    margin-left: 1px;
    color: #999;
}

footer#footer .footer-for-user {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

footer#footer .lang-sel-wrapper {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

footer#footer .copyright {
    position: relative;
    display: table;
    left: 25px;
    bottom: 15px;
    font-size: 11px;
}

.kt_product-desctiption {
    display: table;
    position: relative;
    width: 100%;
    margin: 30px auto;
}

.single_add_to_cart_button:hover a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
    .lang-sel-dropdown .dropdown-menu {
        left: initial !important;
        right: 0;
    }
}

@media (max-width: 768px) {
    footer#footer * {
        position: relative !important;
        top: initial !important;
        right: initial !important;
        bottom: initial !important;
        left: initial !important;
    }

    footer#footer .copyright {
        left: 15px !important;
    }

    footer#footer .dropdown-menu {
        position: absolute !important;
    }


    footer#footer .company-info,
    footer#footer .footer-right {
        padding: 15px;
        height: initial;
    }

    footer#footer .footer-for-user {
        margin-top: 20px;
    }
    
    .lang-sel-text {
    	margin-top: 25px;
	}
}



.product-row {
	display: table;
}

