/* share.js + modal */
#share-modal .modal-dialog {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.share-component {
  display: table;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.share-component .social-share-wrapper {
  width: 33.333333333%;
  float: left;
  text-align: center;
  padding: 15px 0;
}

/* lib */

@font-face {
    font-family: "socialshare";
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg")
}

.social-share {
    font-family: "socialshare", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale
}

.social-share * {
    font-family: "socialshare", sans-serif !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.social-share .icon-weibo:before {
    content: "\f12a"
}

.social-share .icon-wechat:before {
    content: "\f09a"
}

.social-share .icon-facebook:before {
    content: "\f03a"
}

.social-share .icon-twitter:before {
    content: "\f06a"
}

.social-share a {
    position: relative;
    text-decoration: none;
    margin: 4px;
    display: inline-block;
    outline: none
}

.social-share .social-share-icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 20px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.social-share .icon-weibo {
    color: #ff763b;
    border-color: #ff763b
}
.social-share .icon-facebook {
    color: #44619D;
    border-color: #44619D
}
.social-share .icon-twitter {
    color: #55acee;
    border-color: #55acee
}
.social-share .icon-wechat {
    position: relative;
    color: #7bc549;
    border-color: #7bc549
}

.social-share .icon-wechat .wechat-qrcode {
    display: none;
    border: 1px solid #eee;
    position: absolute;
    z-index: 9;
    top: -205px;
    left: -84px;
    width: 200px;
    height: 152px; /* height: 192px; */
    color: #666;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 10px #aaa;
}

.social-share .icon-wechat .wechat-qrcode.bottom {
    top: 40px;
    left: -84px
}

.social-share .icon-wechat .wechat-qrcode.bottom:after {
    display: none
}

/*
.social-share .icon-wechat .wechat-qrcode h4 {
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    color: #777
}
*/

.social-share .icon-wechat .wechat-qrcode .qrcode {
    width: 105px;
    margin: 10px auto
}

.social-share .icon-wechat .wechat-qrcode .qrcode table {
    margin: 0 !important
}

.social-share .icon-wechat .wechat-qrcode .help p {
    font-weight: normal;
    line-height: 16px;
    padding: 0;
    margin: 0
}

.social-share .icon-wechat .wechat-qrcode:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -13px;
    width: 0;
    height: 0;
    border-width: 8px 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent
}

.social-share .icon-wechat.clicked .wechat-qrcode {
    display: block
}


/** line */
.social-share .icon-line {
    overflow: hidden;
    border-color: #00B900;
}

.social-share .icon-line a {
    position: absolute;
    left: -5px;
    top: -6px;
    /*
    left: -17%;
    top: -18%;
    */
}

.social-share .icon-line a img {
    width: 35px; height: 35px;
}

/** email */
.social-share .icon-email span {
    font-family: 'Glyphicons Halflings' !important;
    top: 2px;
}