/* promotion banner */
.promotion-banner {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #333;
  z-index: 5000;
}
.promotion-banner.promotion-hide {
  display: none;
}

.promotion-banner .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 21px;
  color: #fff;
  opacity: .6;
  transition: all 0.3s;
  padding: 7px;
  cursor: pointer;
}
.promotion-banner .close-btn:hover {
  opacity: 1;
}

.promotion-banner .promotion-anchor {
  display: table;
  width: 100%; height: 100%;
  padding: 20px;
  text-decoration: none !important;
}

.promotion-banner img {
  display: table;
  width: auto;
  max-height: 75px;
  margin: 3px auto;
}

.promotion-banner .promotion-title {
  margin-bottom: 10px;
  font-size: 1.4em;
  color: #f04f29;
}

.promotion-banner .promotion-content {
  font-size: 14px;
  color: #f04f29;
}